.RISC16_Saje.circ.autosave
.DS_Store

vivado_project/
*.xpr
*.jou
*.log
*.cache/
*.runs/
*.hw/
*.ip_user_files/
*.sim/
*.webtalk/
/vivado_project

/ip/**/sim/
/ip/**/simulation/
/ip/**/doc/
/ip/**/misc/
/ip/**/hdl/
